body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.5;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h6 {
  font-style: italic;
}

ul {
  list-style: circle;
}

.double-line-break {
    position: relative;
    height: 6px; /* Total height for both lines + spacing */
    width: 100%;
}

.double-line-break::before,
.double-line-break::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
}

.double-line-break::before {
    top: 0;
}

.double-line-break::after {
    top: 4px; /* Space between lines */
}

a {
    color: black;
    text-decoration: none; /* Removes underline, optional */
}

a:hover {
    color: gray;
    text-decoration: none; /* Keeps underline removed on hover */
}

a {
    color: black;
}

a:hover {
    color: gray;
}